<a href="https://colab.research.google.com/github/sudama-inc/data_scientist_interview_question/blob/main/Python_SQL_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Questions:

#Count the unique values in list a

a = [1,2,3,2,4,3,5,1]

In [ ]:
#Your code here
a = [1,2,3,2,4,3,5,1]
res = {}
for i in a:
  if i not in res.keys():
    res[i] = 1
  else:
    res[i] += 1

print(res)

count = list(res.keys())

print('Count : ', len(count))

{1: 2, 2: 2, 3: 2, 4: 1, 5: 1}
Count :  5

In [ ]:
a = [1,2,3,2,4,3,5,1]
res = []
count = 0
for i in a:
  if i not in res:
    count += 1
    res.append(i)

print(count)
print(res)

5
[1, 2, 3, 4, 5]

For list x, reverse each element of the list:

x = [[4, 1, 6], [7, 8], [4, 10, 8]]

Output: [[6, 1, 4], [8, 7], [8, 10, 4]]

In [ ]:
#Your code here
x = [[4, 1, 6], [7, 8], [4, 10, 8]]
res = []
for i in x:
  res.append(i[::-1])
print(res)

result = [lst[::-1] for lst in x]
print(result)

[[6, 1, 4], [8, 7], [8, 10, 4]]
[[6, 1, 4], [8, 7], [8, 10, 4]]

For the given list x, using a single line of code print the squares of all integer type elements.

x = [1,2,'A','B']

Output: [1,4]

In [ ]:
#Your code here
x = [1,2,'A','B']
op = [i**2 for i in x if type(i) == type(int())]
squares = [num ** 2 for num in x if isinstance(num, int)]
print(op)

[1, 4]

For the dictionary below:

a) Print all songs in the_best_one

b) Provide the total number of Songs in the following Dictionary

c) Name the 1st album to be released

In [ ]:
eminem_dict = {'excellent':{'album':"The Slim Shady LP",'year_released':1999,'songs':['My Name Is','Brain Damage','Paul','Role Model','My Fault'], 'sales':10410000},
'the_okay_one':{'album':"The Marshall Matthers LP 2",'year_released':2013,'songs':['Stronger Than I was','Rap God','Berzerk','Legacy'], 'sales':4770000},
'the_best_one':{'album':"Recovery",'year_released':2010,'songs':['Not Afraid','Love The Way You Lie','Space Bound','No Love'], 'sales':8330000}
}

print(eminem_dict)

{'excellent': {'album': 'The Slim Shady LP', 'year_released': 1999, 'songs': ['My Name Is', 'Brain Damage', 'Paul', 'Role Model', 'My Fault'], 'sales': 10410000}, 'the_okay_one': {'album': 'The Marshall Matthers LP 2', 'year_released': 2013, 'songs': ['Stronger Than I was', 'Rap God', 'Berzerk', 'Legacy'], 'sales': 4770000}, 'the_best_one': {'album': 'Recovery', 'year_released': 2010, 'songs': ['Not Afraid', 'Love The Way You Lie', 'Space Bound', 'No Love'], 'sales': 8330000}}

In [ ]:
eminem_dict['the_best_one']['songs']

['Not Afraid', 'Love The Way You Lie', 'Space Bound', 'No Love']

In [ ]:
import pandas as pd
import numpy as np
from IPython.lib.security import encode


Pull the 'billboard_top20_2010_2019' csv file from the folder. [ NOTE: encoding='latin-1' ]



What were the top 10 ranked songs in 2016? Output the rank, artist, song name and bpm.

Sort the result based on the bpm in ascending order.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/My Drive/Datasets/billboard_top20_2010_2019.csv', encoding='latin-1' )
df.head()

,rank,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,4,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,5,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

In [ ]:
df.shape

(200, 15)

In [ ]:
df['dur'] > 200

0       True
1       True
2      False
3       True
4       True
       ...
195     True
196    False
197     True
198     True
199    False
Name: dur, Length: 200, dtype: bool

In [ ]:
# df_dur = df[df['dur']>250 or df.val > 50]
df_dur = df[(df['dur'] > 250) & (df.val < 50)]
# df_dur_loc = df.loc[df['dur']>250]
# df.query('dur > 250 & val < 50')
df_dur

,rank,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
15,16,OMG (feat. will.i.am),Usher,atl hip hop,2010,130,75,78,-6,36,33,269,20,3,72
17,18,The Time (Dirty Bit),The Black Eyed Peas,dance pop,2010,128,81,82,-8,60,44,308,7,7,70
18,19,Alejandro,Lady Gaga,dance pop,2010,99,80,63,-7,36,37,274,0,5,69
20,1,A Thousand Years,Christina Perri,dance pop,2011,139,41,42,-7,11,16,285,31,3,81
21,2,Someone Like You,Adele,british soul,2011,135,33,56,-8,10,28,285,89,3,80
31,12,Born This Way,Lady Gaga,dance pop,2011,124,83,59,-5,33,49,260,0,16,73
32,13,Monster,Kanye West,chicago rap,2011,125,69,63,-6,67,10,379,0,20,73
34,15,Best Thing I Never Had,Beyoncé,dance pop,2011,99,65,55,-4,9,30,254,14,3,73
35,16,Party Rock Anthem,LMFAO,dance pop,2011,130,74,75,-4,27,35,262,2,16,72
42,3,Paradise,Coldplay,permanent wave,2012,140,59,45,-7,8,20,279,5,3,79
58,19,Some Nights,fun.,baroque pop,2012,108,74,67,-7,9,39,277,2,5,72
75,16,Clarity,Zedd,complextro,2013,128,78,51,-3,7,18,271,4,7,75
80,1,All of Me,John Legend,neo mellow,2014,120,26,42,-7,13,33,270,92,3,86
87,8,Hey Brother,Avicii,big room,2014,125,78,55,-5,8,46,255,3,4,78
90,11,Let Her Go,Passenger,folk-pop,2014,75,54,51,-7,10,24,253,39,6,77
96,17,Adore You,Miley Cyrus,dance pop,2014,120,66,58,-5,11,20,279,11,3,72
109,10,"Love Me Like You Do - From ""Fifty Shades Of Grey""",Ellie Goulding,dance pop,2015,190,61,26,-7,13,28,253,25,5,79
110,11,"Earned It (Fifty Shades Of Grey) - From The ""F...",The Weeknd,canadian contemporary r&b,2015,120,38,66,-6,10,44,252,39,3,79
136,17,"Me, Myself & I",G-Eazy,hip hop,2016,112,67,76,-7,16,38,251,2,10,78

,rank,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
15,16,OMG (feat. will.i.am),Usher,atl hip hop,2010,130,75,78,-6,36,33,269,20,3,72
17,18,The Time (Dirty Bit),The Black Eyed Peas,dance pop,2010,128,81,82,-8,60,44,308,7,7,70
18,19,Alejandro,Lady Gaga,dance pop,2010,99,80,63,-7,36,37,274,0,5,69
20,1,A Thousand Years,Christina Perri,dance pop,2011,139,41,42,-7,11,16,285,31,3,81
21,2,Someone Like You,Adele,british soul,2011,135,33,56,-8,10,28,285,89,3,80
31,12,Born This Way,Lady Gaga,dance pop,2011,124,83,59,-5,33,49,260,0,16,73
32,13,Monster,Kanye West,chicago rap,2011,125,69,63,-6,67,10,379,0,20,73
34,15,Best Thing I Never Had,Beyoncé,dance pop,2011,99,65,55,-4,9,30,254,14,3,73
35,16,Party Rock Anthem,LMFAO,dance pop,2011,130,74,75,-4,27,35,262,2,16,72
42,3,Paradise,Coldplay,permanent wave,2012,140,59,45,-7,8,20,279,5,3,79
58,19,Some Nights,fun.,baroque pop,2012,108,74,67,-7,9,39,277,2,5,72
75,16,Clarity,Zedd,complextro,2013,128,78,51,-3,7,18,271,4,7,75
80,1,All of Me,John Legend,neo mellow,2014,120,26,42,-7,13,33,270,92,3,86
87,8,Hey Brother,Avicii,big room,2014,125,78,55,-5,8,46,255,3,4,78
90,11,Let Her Go,Passenger,folk-pop,2014,75,54,51,-7,10,24,253,39,6,77
96,17,Adore You,Miley Cyrus,dance pop,2014,120,66,58,-5,11,20,279,11,3,72
109,10,"Love Me Like You Do - From ""Fifty Shades Of Grey""",Ellie Goulding,dance pop,2015,190,61,26,-7,13,28,253,25,5,79
110,11,"Earned It (Fifty Shades Of Grey) - From The ""F...",The Weeknd,canadian contemporary r&b,2015,120,38,66,-6,10,44,252,39,3,79
136,17,"Me, Myself & I",G-Eazy,hip hop,2016,112,67,76,-7,16,38,251,2,10,78

In [ ]:
df_dur.shape

(32, 15)

In [ ]:
df_dur_loc.shape

(32, 15)

In [ ]:
top_10_ranked_2016 = df[df['year'] == 2016].nlargest(10, 'rank')
result = top_10_ranked_2016[['rank', 'artist', 'title', 'bpm']]
# result_sort = result.sort_values(by='bpm', ascending=True)
result_sort = result.sort_values('bpm', ascending=True)
result_sort

,rank,artist,title,bpm
134,15,Rihanna,Work,92
132,13,Alessia Cara,Scars To Your Beautiful,97
139,20,Hailee Steinfeld,Starving,100
137,18,Mike Posner,I Took A Pill In Ibiza - Seeb Remix,102
131,12,Fifth Harmony,Work from Home (feat. Ty Dolla $ign),105
133,14,Meghan Trainor,Like I'm Gonna Lose You (feat. John Legend),108
136,17,G-Eazy,"Me, Myself & I",112
130,11,Justin Timberlake,CAN'T STOP THE FEELING! (Original Song from Dr...,113
138,19,Ariana Grande,Dangerous Woman,134
135,16,Shawn Mendes,Stitches,150

User information:

a) Pull the 'user_purchase' csv file from the folder, and output the revenue of all users.

b) Identify returning active users. A returning active user is a user that has made a second purchase within 7 days of any other of their purchases. Output a list of user_ids of these returning active users.

In [ ]:
#Your code here
df_user = pd.read_csv('/content/drive/My Drive/Datasets/user_purchase.csv')
df_user.head(2)

   visit_id  user_id purchase_date  revenue
0      1000       11      1/1/2022      100
1      1001       12      1/2/2022      150

In [ ]:
revenue = df_user['revenue']
revenue

0    100
1    150
2     80
3     50
4    200
5     60
6    450
7    300
8    170
9    900
Name: revenue, dtype: int64

In [ ]:
df_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   visit_id       10 non-null     int64
 1   user_id        10 non-null     int64
 2   purchase_date  10 non-null     datetime64[ns]
 3   revenue        10 non-null     int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 448.0 bytes

In [ ]:
# Assuming you have a DataFrame called 'df' with columns 'visit_id', 'user_id', 'purchase_date', and 'revenue'
df_user['purchase_date'] = pd.to_datetime(df_user['purchase_date'])  # Convert 'purchase_date' to datetime if it's not already
# Sort the DataFrame by 'user_id' and 'purchase_date' in ascending order
df_user.sort_values(['user_id', 'purchase_date'], inplace=True)

# Calculate the time difference between consecutive purchases for each user
df_user['time_diff'] = df_user.groupby('user_id')['purchase_date'].diff()
# Filter the DataFrame to include only returning active users with a time difference of 7 days or less
returning_active_users = df_user[df_user['time_diff'] <= pd.Timedelta(days=7)]['user_id'].unique()



returning_active_users

array([11, 12])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   visit_id       10 non-null     int64
 1   user_id        10 non-null     int64
 2   purchase_date  10 non-null     datetime64[ns]
 3   revenue        10 non-null     int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 448.0 bytes



---

# SQL Questions:

In [ ]:
!pip install SQLAlchemy==1.4.46
!pip install pandasql
!pip install pandas
!pip install numpy

Collecting SQLAlchemy==1.4.46
  Downloading SQLAlchemy-1.4.46-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 18.5 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.46) (2.0.2)
Installing collected packages: SQLAlchemy
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.16
    Uninstalling SQLAlchemy-2.0.16:
      Successfully uninstalled SQLAlchemy-2.0.16
Successfully installed SQLAlchemy-1.4.46
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.22.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.5.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.4.46)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2022.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (2.0.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26771 sha256=82647c935944f56955787c34abb50cd641ff90a9ce9e88f43addedcf5a78440c
  Stored in directory: /root/.cache/pip/wheels/e9/bc/3a/8434bdcccf5779e72894a9b24fecbdcaf97940607eaf4bcdf9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

In [ ]:
import numpy as np
import pandas as pd
from pandasql import sqldf
house_not_md = pd.read_csv('sample_data/california_housing_test.csv', encoding = 'utf-8')
house_not_md = house_not_md.rename(columns = {'households': 'no_of_houses'}, inplace = False)
house_not_md['Reg_Lat'] = pd.cut(house_not_md['latitude'],3,labels = ["SOUTH","CENTER","NORTH"])
house_not_md['Reg_Lng'] = pd.cut(house_not_md['longitude'],3,labels = ["WEST","CENTRAL","EAST"])
house_not_md['REGION'] = house_not_md[['Reg_Lat','Reg_Lng']].agg('-'.join, axis=1)
house_not_md['REGION'].replace('CENTER-CENTRAL',"CENTER", inplace = True)
house_not_md["Mapper"] = house_not_md['latitude'].astype(str)+house_not_md['longitude'].astype(str)
house_not_md["RANK"] = house_not_md["Mapper"].rank().astype(int)
house_not_md["SUB_REGION"] = "AREA - " + house_not_md["Mapper"].rank().astype(int).astype(str)
# house_not_md.sort_values(by=['REGION','RANK'], axis=0, ascending=True, inplace=True,ignore_index=True)
house_not_md.drop(['Reg_Lat','Reg_Lng','latitude','Mapper','longitude','RANK'], inplace = True, axis =1 )
house_not_md.drop_duplicates(inplace=True, ignore_index=True)
def query_runner(query):
  sub_data = sqldf(query, globals())
  # display(sub_data)
  return sub_data

In [ ]:
query = """
select * from house_not_md;
"""

query_runner(query)

,housing_median_age,total_rooms,total_bedrooms,population,no_of_houses,median_income,median_house_value,REGION,SUB_REGION
0,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,CENTER-WEST,AREA - 2047
1,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,SOUTH-CENTRAL,AREA - 1485
2,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,SOUTH-CENTRAL,AREA - 416
3,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,SOUTH-CENTRAL,AREA - 498
4,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,CENTER,AREA - 1752
...,...,...,...,...,...,...,...,...,...
2995,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,SOUTH-CENTRAL,AREA - 1554
2996,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,SOUTH-CENTRAL,AREA - 1076
2997,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,CENTER,AREA - 1739
2998,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,SOUTH-EAST,AREA - 1186
2999,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,SOUTH-CENTRAL,AREA - 1551

a) For table house_not_md, select the average median_house_value of houses older than 18 years in one of the Central Regions (North-Central, South-Central and Center)

In [ ]:
query_a = """
--Your Work Here
SELECT AVG(median_house_value) AS average_median_house_value
FROM house_not_md
WHERE housing_median_age > 18
AND REGION IN ('NORTH-CENTRAL', 'SOUTH-CENTRAL', 'CENTER');

"""

query_runner(query_a)

   average_median_house_value
0               213293.944674

b) If 20 percent of all rooms are living rooms, give the number of living rooms per Region (Rounded to the nearest integer)

In [ ]:
query_b = """
--Your Work Here
SELECT ROUND(0.2 * total_rooms) AS living_rooms_per_region, REGION
FROM house_not_md;

"""

query_runner(query_b)

      living_rooms_per_region         REGION
0                       777.0    CENTER-WEST
1                       302.0  SOUTH-CENTRAL
2                       718.0  SOUTH-CENTRAL
3                        13.0  SOUTH-CENTRAL
4                       248.0         CENTER
...                       ...            ...
2995                    290.0  SOUTH-CENTRAL
2996                   1051.0  SOUTH-CENTRAL
2997                    191.0         CENTER
2998                     19.0     SOUTH-EAST
2999                    353.0  SOUTH-CENTRAL

[3000 rows x 2 columns]

c) Assign 'Sparsely Populated', 'Medium Population' or 'Densely Populated' to a Sub Region, under the column population_density, based on the following conditions:

>     0    <= Population < 600  -----> 'Sparsely Populated'
    600  <= Population < 1000 -----> 'Medium Population'
    1000 <= Population        -----> 'Densely Populated'

In [ ]:
query_c = """
--Your Work Here

SELECT
    Sub_Region,
    CASE
        WHEN Population < 600 THEN 'Sparsely Populated'
        WHEN Population >= 600 AND Population < 1000 THEN 'Medium Population'
        WHEN Population >= 1000 THEN 'Densely Populated'
    END AS population_density
FROM
    house_not_md;

"""

query_runner(query_c)

       SUB_REGION  population_density
0     AREA - 2047   Densely Populated
1     AREA - 1485   Medium Population
2      AREA - 416   Densely Populated
3      AREA - 498  Sparsely Populated
4     AREA - 1752   Medium Population
...           ...                 ...
2995  AREA - 1554   Densely Populated
2996  AREA - 1076   Densely Populated
2997  AREA - 1739   Medium Population
2998  AREA - 1186  Sparsely Populated
2999  AREA - 1551   Medium Population

[3000 rows x 2 columns]

d) Give the top 2 regions by average median_house_value (desc) (tiebreaker - average housing_median_age asc, used to determine rank when two regions have the same average median_house_value)

In [ ]:
query_d = """
--Your Work Here
SELECT REGION, AVG(median_house_value) AS avg_median_house_value, AVG(housing_median_age) AS avg_housing_median_age
FROM house_not_md
GROUP BY REGION
ORDER BY avg_median_house_value DESC, avg_housing_median_age ASC
LIMIT 2;

"""

query_runner(query_d)

          REGION  avg_median_house_value  avg_housing_median_age
0    CENTER-WEST           234727.910793               30.292952
1  SOUTH-CENTRAL           232512.580196               31.761047

e) Find the number of members per household for all regions

In [ ]:
query_e = """
--Your Work Here
SELECT REGION, SUM(population) AS total_population, SUM(total_rooms) AS total_rooms, SUM(population) / SUM(total_rooms) AS members_per_household
FROM house_not_md
WHERE REGION IN ('CENTER-WEST', 'SOUTH-CENTRAL', 'CENTER', 'SOUTH-EAST', 'NORTH-WEST', 'NORTH-CENTRAL')
GROUP BY REGION;

"""

query_runner(query_e)

          REGION  total_population  total_rooms  members_per_household
0         CENTER          244571.0     460012.0               0.531662
1    CENTER-WEST         1226753.0    2401310.0               0.510868
2  NORTH-CENTRAL           16485.0      51793.0               0.318286
3     NORTH-WEST          151627.0     317889.0               0.476981
4  SOUTH-CENTRAL         1764993.0    2945941.0               0.599127
5     SOUTH-EAST          803967.0    1621791.0               0.495728

f) A Truth Table indicating whether a region has more than average median_house_value

>     REGION     ---   Price_Over_Avg
    NORTH-WEST --->  TRUE
    SOUTH-EAST --->  FALSE
    CENTRAL    --->  FALSE

In [ ]:
query_f = """
--Your Work Here

SELECT
    REGION,
    CASE
        WHEN median_house_value > (
            SELECT AVG(median_house_value) FROM house_not_md
        ) THEN 'TRUE'
        ELSE 'FALSE'
    END AS Price_Over_Avg
FROM
    house_not_md;

"""

query_runner(query_f)

             REGION Price_Over_Avg
0       CENTER-WEST           TRUE
1     SOUTH-CENTRAL          FALSE
2     SOUTH-CENTRAL           TRUE
3     SOUTH-CENTRAL           TRUE
4            CENTER          FALSE
...             ...            ...
2995  SOUTH-CENTRAL           TRUE
2996  SOUTH-CENTRAL           TRUE
2997         CENTER          FALSE
2998     SOUTH-EAST          FALSE
2999  SOUTH-CENTRAL           TRUE

[3000 rows x 2 columns]

Date Functions:

a) Convert the string 'February 22, 2022' into date format '2022-02-22'

In [ ]:
query_dt_a = """
--Your Work Here
--SELECT STR_TO_DATE("February 22 2022", "%M %d %Y");
"""

query_runner(query_dt_a)

b) Extract Month, Date, Year from the string 'February 22 2022'

In [ ]:
query_dt_b = """
--Your Work Here
"""

query_runner(query_dt_b)

In [ ]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({'col1': [1, 2, 3, 4, 5]})

# Shift the values of 'col1' down by one position
df['shifted_col1'] = df['col1'].shift(-1)

# Print the DataFrame
df['diff'] = df.shifted_col1 - df.col1
df

   col1  shifted_col1  diff
0     1           2.0   1.0
1     2           3.0   1.0
2     3           4.0   1.0
3     4           5.0   1.0
4     5           NaN   NaN

In [ ]:
df = pd.DataFrame({'item':['A','A','B','D','D','C'], 'data_uses':[2,1,9,8,7,4], 'month':[1,2,2,3,2,3]})
df

In [ ]:
df.pivot_table(index='item',values='data_uses', aggfunc='sum').reset_index()

In [ ]:
# Question : Get the all anagrams into the list of list

st = """In between the first and second acts, we met the cast of cats.
There is a icon on the desktop which has picture of coin."""

# op = [['acts', 'cast', 'cats'], ['icon', 'coin']]